@charset "uft-8";

.site-header {
  padding: 170px 30px 80px;
  background: #000000;
}

.sub-title {
  margin: 0 0 30px;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
h1 {
  margin: 50px 0 40px;
  font-size: 7.6rem;

}
.site-info {
  margin-bottom: 50px;
  color:#888;
  font-size:1.6rem;
}
.button-list .common-button{
  margin: 10px;
}
 .common-button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 1px;
}
.primary {
  background-color: #D29E04
}
.section-about {
  padding: 80px 30px;
  color: #000;
}
.section-works {
  padding: 80px 0;
  background: #383634;
}
.section-skills {
  padding: 80px 0;
  color: #000
}
.section-contact {
  padding: 80px 0 150px;
}
